* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    transition: background-color 0.25s ease, color 0.25s ease;
}

:root {
    --var-corDoFundo: #e6e3e3;
    --var-CorContainer: #FAFAFA;
    --var-CorBtn: #E11D2A;
    --var-CorBtnHover: #8a121a;
    --var-Corplaceholder: #a8a8a8;
    --var-corSideBar: #DFDFDF;

    /* dark mode */
    --var-DarkMode-corFundo: #191919;
    --var-DarkMode-corContainers: #797979;
    --var-DarkMode-corPlaceholder: #353535;
    --var-DarkMode-corDaFonte: #FFFFFF;
    --var-DarkMode-corDosIcones: #FFFFFF;
    --var-DarkMode-corNav: #4E4E4E;
    --var-DarkMode-corSidebar: #4E4E4E;

    /* cor svg */
    --var-corsvg: #272727;
}

.btnDiv {
    margin: auto 0;
    text-align: center;

}

.btn {
    background-color: var(--var-CorBtn);
    color: #ffff;
    padding: 10px;
    width: 140px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover {
    background-color: var(--var-CorBtnHover);
}

.sunDarkmode{
    display: none;
}

body.dark-mode,
.darkMode{
    background-color: var(--var-DarkMode-corFundo);
    color: var(--var-DarkMode-corDaFonte);
}

body.dark-mode svg,
.darkMode svg{
    fill: var(--var-DarkMode-corDosIcones);
}

body.dark-mode header,
body.dark-mode aside,
.darkMode aside{
    background-color: var(--var-DarkMode-corSidebar);
    color: var(--var-DarkMode-corDaFonte);
}


body.dark-mode .modalContentCaderno,
body.dark-mode .modalContent,
.darkMode .modalContentCaderno,
.darkMode .modalContent{
    background-color: var(--var-DarkMode-corContainers);
    color: var(--var-DarkMode-corDaFonte);
}

body.dark-mode .modalContent span,
.darkMode .modalContent span{
    color: var(--var-DarkMode-corDosIcones);
}

body.dark-mode input,
body.dark-mode select,
body.dark-mode .modalContentCaderno input,
.darkMode .modalContentCaderno input{
    background-color: var(--var-Corplaceholder);
    color: var(--var-DarkMode-corDaFonte);
}

body.dark-mode .modalContentCaderno span,
.darkMode .modalContentCaderno span{
    color: var(--var-DarkMode-corDosIcones);
}

body.dark-mode option,
.darkMode option{
    background-color: var(--var-Corplaceholder);
    color: var(--var-DarkMode-corDaFonte);
}

body.dark-mode .modalSair,
.darkMode .modalSair{
    background-color: var(--var-CorContainer);
    color: #000000;
}

.darkHeader{
    background-color: var(--var-DarkMode-corSidebar);
    color: var(--var-DarkMode-corDaFonte);

}

body.dark-mode .btnMateria,
.darkMode .btnMateria{
    color: var(--var-DarkMode-corDaFonte);
}

body.dark-mode .criarNota img,
.darkMode .criarNota img{
    background-color: var(--var-DarkMode-corFundo);
}

body.dark-mode .profile svg,
.darkMode .profile svg{
    fill: var(--var-DarkMode-corDosIcones);
}

.darkHeader svg,
body.dark-mode .profile svg,
.darkMode .profile svg{
    fill: var(--var-DarkMode-corDosIcones);
}

body.dark-mode #btnDarkmode {
    display: none;
}

body.dark-mode #sunDarkmode {
    display: inline-block;
}
