<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/loginRegister.css}">
    <link rel="stylesheet" th:href="@{/reset.css}">
    <title>NoteLab</title>
</head>
<body>

<div class="containerLogo">
    <img th:src="@{/img/logo.png}"  alt="notelab-logo">
</div>

<section class="containerInfo">
    <div class="formCabecalho">
        <h1>Entrar</h1>
        <p>Acesse suas anotações</p>
    </div>

    <div class="card">
        <p th:if="${param.error}" style="color:red;">E-mail ou senha inválidos.</p>

        <form class="formDiv" method="post" th:action="@{/login}">
            <div class="formbox">
                <label>Digite seu e-mail</label>
                <input type="email" name="email" placeholder="email@email.com">
            </div>
            <div class="formbox">
                <label>Senha</label>
                <input type="password" name="password" placeholder="senha">
            </div>
            <div class="registerDiv">
                Não tem conta? <a th:href="@{/register}">Cadastre-se</a>
            </div>
            <div class="btnDiv">
                <button class="btn" type="submit">Entrar</button>
            </div>
        </form>
    </div>
</section>
</body>
</html>