<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{loginRegister.css}">
    <link rel="stylesheet" th:href="@{reset.css}">
    <title>NoteLab</title>
</head>
<body>

<div class="containerLogo">
    <img src=".././img/logo.png" alt="notelab-logo">
</div>

<section class="containerInfo">
    <div class="formCabecalho">
        <h1>Entrar</h1>
        <p>Acesse suas anotações</p>
    </div>

    <div class="card">

        <form class="formDiv" th:object="${user}" method="post" th:action=" @{/logar}">
            <div class="formbox">
                <label>Digite seu e-mail</label>
                <input type="email" placeholder="email@email.com" th:field="*{email}">
            </div>
            <div class="formbox">
                <label>Senha</label>
                <input type="password" placeholder="senha" th:field="*{password}">

            </div>
            <div class="registerDiv">
                Não tem conta? <a th:href="@{/register}"> Cadastre-se</a>
            </div>
            <div class="btnDiv"><button class="btn" type="submit">Entrar</button></div>
        </form>

    </div>
</section>
</body>
</html>